.topNav {
    background-color: rgba(255, 252, 246, 0.9);
    transition: background-color 0.3s ease-in-out;
    backdrop-filter: blur(5px);
}

h1 {
    color: #2c2c2c;
    text-align: center;
    margin-top: 100px;
}

h2 {
    font-style: normal;
}

#startBillederOmOs {
    width: 100%;
    height: auto;
}

#knapFAQ {
    display: inline-block;
    padding: 15px 60px;
    margin-top: 20px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid white;
    transition: 0.3s ease;
    font-family: "Poppins", serif;
}

/* styling af knap ovenpå citat */
#knapFAQ:hover {
    border: 1px solid #FFDF98;
    transform: scale(1.1);
    transition: 0.3s ease;
}

/* section med Vores Mission */
#mission {
    display: grid;
    grid-template-columns: 1fr 1fr;  /* To kolonner: Billeder + tekst */
    gap: 20px;
    max-width: 90%;
    margin: 50px auto 0 auto;
    padding: 50px 20px;
    align-items: center;
}

/* Billeder */
figure {
    display: grid;
}

figure img {
    width: 80%;
    margin: auto;
}

/* Tekst styling */
article {
    text-align: left;
    max-width: 90%;
}
